.main-chat
  .main-chat__group-info
    .main-chat__group-info__leftbox
      .main-chat__group-info__leftbox__group-name
        テスト
      .main-chat__group-info__leftbox__member-list
        Member : taka
    .main-chat__group-info__group-edit
      = link_to "#", class: "btn--edit" do
        Edit
  .main-chat__message-list
    .main-chat__message-list__comment-box
      .main-chat__message-list__comment-box__name
        taka
        .main-chat__message-list__comment-box__name__date
          2020/02/21(Fri) 10:28:01
      .main-chat__message-list__comment-box__message
        お腹すいた
      .main-chat__message-list__comment-box__name
        taka
        .main-chat__message-list__comment-box__name__date
          2020/02/21(Fri) 10:28:01
      .main-chat__message-list__comment-box__message
        お腹いっぱい
  .main-chat__message-form
    .main-chat__message-form__new-message

      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        .main-chat__message-form__new-message__input-icon
          = f.label :image, class: 'image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'image__file'
        = f.submit 'Send', class: 'btn--send'



    -# .main-chat__message-form__new-message
    -#   %input{type: "text", class:"text", placeholder: "type a message"}
    -#   .main-chat__message-form__new-message__input-icon
    -#     %label{class: "image"}
    -#       = icon('fas', 'image')
    -#       %input{type:"file", class: "image__file"}
    -# .main-chat__message-form__submit-btn
    -#   = link_to "#", class: "btn--send" do
    -#     Send