.main-chat
  .main-chat__group-info
    .main-chat__group-info__leftbox
      .main-chat__group-info__leftbox__group-name
        = @group.name
      .main-chat__group-info__leftbox__member-list
        Member :
        .main-chat__group-info__leftbox__member-list__member
          = current_user.name
    .main-chat__group-info__group-edit
      = link_to "#", class: "btn--edit" do
        Edit
  .main-chat__message-list
    .messages
      = render @messages
     
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'text', placeholder: 'type a message'
      .new_message__input-icon
        = f.label :image, class: 'new_message__input-icon__image' do
          = icon('fas', 'image', class: 'image__icon')
          = f.file_field :image, class: 'new_message__input-icon__image__file'
      .new_message__input-box
        = f.submit 'Send', class: 'btn--send'



