.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to "#", class: "contents__btn contents__btn--edit" do
          = icon('far', 'edit',  class: "contents__btn--icon")
        = link_to edit_user_path(current_user), class: "contents__btn contents__btn--cog" do
          = icon('fas', 'cog',  class: "contents__btn--icon")
  .side-bar__group-list
    .side-bar__group-list__group
      .side-bar__group-list__group__group-name
        テックエキスパート
      .side-bar__group-list__group__group-message
        メッセージがありません。
      .side-bar__group-list__group__group-name
        テックエキスパート
      .side-bar__group-list__group__group-message
        メッセージがありません。